.Footer {
    position: fixed;
    bottom: 0;

    width: 100%;

    height: 3.5em;
    background-color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    z-index: 10;
}

.img_container {
    height: 2em;
    width: 2em;
}

.img_music {
    height: 1.4em;
    width: 1.4em;
}

.img_home {
    height: 1.3em;
    width: 1.4em;
}

.img_person {
    height: 1.8em;
    width: 1.8em;

    position: relative;
    top: -0.3em;
    margin-bottom: -0.6em;
}