.Header {
    position: fixed;
    top: 0;
    width: 100%;

    padding: 1em 0;

    display: flex;
    justify-content: center;

    background-color: #F3FAFF;

    z-index: 10;
}

.logo {
    width: 35vw;
    height: auto;
}


