.Share {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  z-index: 10;
}
  
.Share-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 6em;
  box-sizing: border-box;
  width: 100%;
}

.share-card {
    margin-top: 1em;
    width: 80%;
    height: 16em;
    background: #fff;
    
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    
    padding: 1em;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.member {
  text-align: left;
}

.place {
  text-align: left;
}

.share-location-img {
  width: 100%;
  height: 6em;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 0 8px;
}



.blue-round-box {
  margin-top: 2em;

  padding: 1em 0;
  
  background-color: #68B1EC;
  border-radius: 10px;
  border: none;

  width: 65%;

  font-weight: bold;
  color: white;
}